# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.ilk
*.manifest
*.pdb

# Dependency directories (remove the comment below to include it)
# vendor/


out/
dist/*.exe
build/
.vs/
.vscode/
*.mkv